*{
    margin: 0px;
    padding: 0px;
}

body{
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(197, 197, 197);
}

/* ------------------------------------cabeçalho---------------------------------------------------  */
#cabeçalho{
    height:253px;
    background-color:#202020 ;
    text-align: center;
    
}
.navegar{
    position: relative;
    bottom: 140px;
}

/* ---------------------------------- Conteudo ---------------------------------------------------- */

#conteudo-do-site{
    margin: 150px auto 20px auto;
    width: 1000px;
    position: relative;
    text-align: justify;
    padding: 20px;
}
.texto-home{
    width: 500px;
    margin: 0px auto 40px auto ;
    background-color: #fff;
    padding: 20px;
    
}
.imagem-conteudo{
    position: absolute;
    left:770px ;
    top: 750px;

}
.data{
    font-size: 0.8em;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

#direitos{
    text-align: center;
    font-size: 0.8em;
    font-weight: 600;
    background-color: rgb(145, 145, 145);
    padding: 10px;

}

/*--------------------------------------Links--------------------------------------------------------*/
a{
    text-decoration: none;
}

.navegar a:link, .navegar a:visited{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.5em;
    font-weight: ;
    padding: 10px;
    color: rgb(255, 111, 111);
}

.navegar a:hover{
    background-color: rgb(255, 111, 111);
    color: #202020;
}

/* -------------------------------------Geral----------------------------------------------------- */
h2{
    color: rgb(146, 57, 57);
}
