#caixa{
    /* background:url('../imagens/camera.png'); */
    width: 300px;
    height: 300px;
    /* background: linear-gradient(100deg,#ccc,green); */
    background: radial-gradient();
}
#caixa h2{
    background: rgba(103, 204, 143,0.5);
}