body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}
#container{
    /* colunas falsas só poderão ser colocadas em divs fixas */
    margin: 20px auto;
    width: 960px;
    min-width: 720px;
    max-width: 960px;
    background: url('imagens/coluna.png') repeat-y top left;
}
#marca{
    min-width: 720px;
    max-width: 960px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    background: rgb(209, 209, 209) url('imagens/cabecalho2.jpg') no-repeat center;
}
#conteudo{
    width: 73.16%;/*570px */
    float: right;
    background-color: #ffff
}
#conteudo .mat1{
    float: left;
    background-color:#ffff;
    width: 61.4%;/*350px*/
    padding: 10px;
}
#conteudo .mat2{
    float: right;
    width: 26.3%; /*150px*/
    margin: 0px;
    padding: 10px;
    background-color: rgb(170, 170, 170);
}
#navegação{
    width: 25%;/*180px*/
    float: left;
    margin: 0px;
}
#rodape{
    clear: both;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgb(189, 185, 185);
}
/* -------------- links -------------------------------- */
#navegação a{
    text-decoration: none;
    color: black;
    display: block;
    padding: 15px;
    line-height: 15px;
    text-align: center;
    width: 100px;
    /* background-color: rgb(143, 143, 143); */
}
#navegação a:hover{
    color: gray;
    background-color: thistle;

}
#navegação ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
/* --------------------------------- Imagens -------------------------- */
img.imagemMaterias{
    width: 94%;
    padding: 2%;
    max-width: 600px;
}
#imagemCortada{
    width: 94%;
    padding: 2%;
    /* overflow:hidden -> corta a imagem para caber na div */
    overflow: hidden;
}
