table{
    width: 800px;
    /* border-collpase separação das colunas da tabela. collapse: junta. separate: afasta. */
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
}
th, td{
    padding: 10px;
}
.numeros{
    text-align:right;

}
table th{
    /* text-transform: transforma todas as letras em mascúla */
    text-transform: uppercase;
    text-align: center;
    border-top: 0.1em solid;
    border-bottom: 0.2em solid;
    /* espeçamento entre as letras */
    letter-spacing: 0.1em;
}

tr:hover{
    background-color:rgb(184, 255, 231) ;
}