.caixa{
    width: 400px;
    background:#dedede  url('../CSS3-avançado/imagens/fundo-arredondamento.png') repeat-y;
}
h2{
    padding: 10px 20px 0px 20px;
    background: url('../CSS3-avançado/imagens/topo2.png') no-repeat left top;

}
.caixa p{
    margin-bottom: 0;
    padding: 0 20px;
}
.ultimo{
    padding: 0px 0px 10px 20px;
    background: url('../CSS3-avançado/imagens/baixo2.png') no-repeat left bottom;
    width: 400px;
    height: 24px;
}