*{
    margin: 0px;
    padding: 0px;
} 
ul{
    list-style:none;
    margin: 0px auto;
    padding: 0px;  
    border: 1px solid;
    width: 200px;
    
}
ul a:link, ul a:visited{
    width: 200px;
    height: 40px;
    text-decoration: none;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    display: block;
    background: url('/home/dekae/Área de trabalho/Udemy/WEB/CSS3-avançado/imagens/menu.png') no-repeat left center;
    /* background: url('/home/dekae/Área de trabalho/Udemy/WEB/CSS3-avançado/imagens/seta.png') no-repeat center left; */
    /* é um padding que server para ser usado em texto, nesse casso o padding ia deixar espaçado */
    text-indent:40px;
    /* É o tamanho da linha da fonte, se não colocar nada ele fica do mesmo tamanho que a font-size */
    line-height: 40px;    

}

ul a:hover{
    text-decoration: none;
    color: #fff;
    background: url('/home/dekae/Área de trabalho/Udemy/WEB/CSS3-avançado/imagens/menu.png') no-repeat right center;

}