*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
/* -------------------------- Layout site -----_____------------------___-------___--------____----- */

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;

}
.menus{
    width: 200px;
    margin: 10px auto;
}

/* --------___------___-----____----___ LINKS -------____----____-----_____------_____----____--- */
a{
    font-size: 1.2em;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 40px;
    line-height: 50px;   
    text-indent: 30px;
}

ul a:link, ul a:visited{
    color: black;
    background:url('/home/dekaem/Área de trabalho/Udemy/WEB/CSS3-avançado/imagens/menu.png') no-repeat left center;

}
ul a:hover{
    color: aliceblue;
    background:url('/home/dekaem/Área de trabalho/Udemy/WEB/CSS3-avançado/imagens/menu.png') no-repeat right center;
}
/* é bom colocar um id por fora de home, para referenciar apenas um menu */
.menus #home .home a,
.menus #sobre .sobre a,
.menus #contato .contato a
{
    color: aliceblue;
    background:url('/home/dekaem/Área de trabalho/Udemy/WEB/CSS3-avançado/imagens/menu.png') no-repeat right center;
} 
