*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-size: 1em;
}
/*  -------- layout ---------------- */

#texto{
    font-size: 1.1em;
}
.caixa{
    text-align: center;
    width: 100%;
    position: absolute;
        top: 25%;
        left: 0;
}
.titulo{
    background-color: rgba(143, 143, 143, 0.548);
    border-radius: 60px;
}

.conteudo1  h4{
    width: 250px;
    height: 250px;
    text-indent: -9999px;
    background: url('../imagens/logo.png')top center no-repeat;
    background-size: contain;
}

.conteudo1{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.conteudo1{ 
    background-image:url(../imagens/fundo1.jpg);
}


