*{
    margin: 0px;
    padding: 0px;
}

#corpo{
    /* background-color:#f2526a */
    background-image:radial-gradient(circle at 50% 80.46%, #ff7c78 0, #ff6972 25%, #f2516a 50%, #e33663 75%, #d61560 100%);
    font-size: 16px;

}
#container{
    /* border: 1px solid; */
    width: 900px;
    height: 1500px;
    margin: 1px auto;
    /* justify-content: center;
    display: flex; */
    padding: 15px;

}
#navegar{
        
    padding: 10px;
    margin:15px auto;
    height: 15px;
    /* border: 1px solid #2a1f3e; */
    font-family:monospace;
    font-size: 1.2em;
    font-weight: 700;
    position: relative;
    /* position: fixed; */
    left:200px;
    background-color:#2a1f3e;

}
#noticias{
    /* border: 1px solid; */
    width: 900px;
    position: relative;
}
.noti{
        margin: 20px;  
        padding: 10px;
        width: 300px;
        float: left;
        border: 1px solid;
        position: relative;
        z-index: 1;
}       

.limpa{
    clear: left;
    text-align: center;
}

.absoluto{
    width: 200px;
    max-height: 200px;
    background-color:#d61560;
    position: absolute;
    left: 450px;
    z-index: 0;
    bottom: 200px;
    text-align: center;
    padding: 80px 20px;
    
    /* sai do fluxo do pai */
}
.relativo{
    width: 200px;
    max-height: 200px;
    background-color: #9d749b;
    position: relative;
    left: 100px;
    bottom: 200px;
    text-align: center;
    padding: 80px 20px;
    /* se mantem no fluxo */
    z-index: 2;
}

.necro{
    background-image: url('/home/dekaem/Área de trabalho/Udemy/WEB/CSS3/Imagens/cyber.png');
    width: 728px;
    height: 500px;
    /* border: 1px solid; */
    margin: 20px auto;
}

/* link antes de clicar */
a:link{
    text-decoration: none;
    padding: 15px;
    color: #9d749b;
    text-align: center;
    
}
/* link passando o mouse */
a:hover{
    background-color: #342a46;
}
/* link clicando */
a:active{
    color: #9d749b;
}
/* link clicado */
a:visited{
    color: #9d749b;
}