*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #eceae0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 0.8em;
}
/* 
-------------------------Layout da pagina------------------------------------------------------------
*/
#cabeçalho{
    background-color: #f7b600;
    text-align: center;
    padding: 25px;
}
#logo{
    padding: 10px;   
}
#navegação{
    font-size: 1em;
}
#conteudo{
    margin:10px auto ;
    /* border: 1px solid; */
    width: 1000px;    
}
.noticias{
    /* border: 1px solid; */
    width: 640px;
    background-color: #ffff;
    float: left;
    padding: 10px;
    margin-bottom: 15px ;
}
.caixinha{
    /* border: 1px solid; */
    float: right;
    width: 260px;
    padding: 15px;
}
.textinho{
    margin-bottom: 20px;
    background-color:#ffff;
    padding: 10px;
}
#rodape{
    background-color: #CCC;
    font-size: 1.2em;
    text-align: center;
}
/* ---------------------------------Formatação Geral--------------------------------------------- */
h1{
    font-size: 3em;
    color:#4e4e4e;
}
.noticias h2{
    color: #f7b600;
    margin: -2px;
}
.caixinha h2{
    color:#646165;
    background-color:#dcdadd;
}
.caixinha p{
    font-size: 0.8em
}
.branco{
    color: #fff;
    font-weight: 900;
}
.limpar{
    clear: both;
}
.data-postagem{
    font-size: 0.8em;
    border-bottom: #f4faf4;
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}
/* ---------------------------------Formatação menus------------------------------------------------- */
a:link, a:visited{
    text-decoration: none;
    color: white;
    padding: 8px 12px;
    font-weight: 600;
}
a:hover{
    background-color: white;
    color:#f7b600;
}
/* a:active{
} */
/*------------------------------------------- links------------------------------------------------- */
#conteudo a:link, #conteudo a:visited{ 
    color: #f7b600;
    text-decoration: none;
    background-color: #ffff;
    padding: 0px;
}
.caixinha a:link, .caixinha a:visited{ 
    color: #f7b600;
    text-decoration: none;
    background-color: #ffff;
    padding: 0px;
}


