body{
    font-family: 'Courier New', Courier, monospace;
}

/* -------------- */
fieldset div{
    padding: 5px;
    margin: 20px;

}
fieldset{
    margin-bottom: 50px;
    width: 600px;
}
legend{
    font-weight: 600;
}
label{
    /* tranforma o ponteiro em objeto clicável */
    cursor: pointer;
    /* label são com span, em block elas ficam acima do input */
    display: block;
}

/* consegue diferenciar os inouts pelos atributos */
input[type="text"]{
    width: 500px;
}
