*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-family:'Times New Roman', Times, serif;
}
/*  ------------------ Layout------------------ */
#container{
    text-align: center;
    margin: 0px auto;
}
#cabecalho{
    height: 160px;
    background-color: rgb(255, 70, 52);
}
.sublinhadoTarefa{
    text-decoration: underline;
}

ul li{
    list-style: none;
    background-color: rgb(231, 231, 231);
    text-align: left;
    font-size: 1.2em;
    line-height: 40px;
    padding-left: 20px;
    
}
div{
    width: 768px;
}
input.input_tarefa{
    width: 500px;
    text-align: center;
}
input.botao_adicionar{
    width: 150px;
}
input, ul li{
    height: 40px;    
}
label{
    line-height: 80px;
}

h1{
    padding-top: 20px;
    font-size: 3em;
    color: aliceblue;
}
